@import 'tailwindcss';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }

  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover>.anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose> :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

.glitch {
  font-size: 100px;
  position: relative;
  margin: 0 auto;
  background: #141414;
}

.glitch::after {
  content: attr(data-text);
  background: #141414;
  position: absolute;
  left: 10px;
  text-shadow: -1px 0 red;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: animate-glitch 5s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  background: #141414;
  position: absolute;
  left: -10px;
  text-shadow: 1px 0 blue;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: animate-glitch 3s infinite linear alternate-reverse;
}

@keyframes animate-glitch {
  0% {
    clip: rect(99px, 9999px, 45px, 0);
  }

  5% {
    clip: rect(7px, 9999px, 49px, 0);
  }

  10% {
    clip: rect(52px, 9999px, 79px, 0);
  }

  15% {
    clip: rect(51px, 9999px, 42px, 0);
  }

  20% {
    clip: rect(37px, 9999px, 43px, 0);
  }

  25% {
    clip: rect(38px, 9999px, 9px, 0);
  }

  30% {
    clip: rect(34px, 9999px, 93px, 0);
  }

  35% {
    clip: rect(18px, 9999px, 84px, 0);
  }

  40% {
    clip: rect(100px, 9999px, 75px, 0);
  }

  45% {
    clip: rect(15px, 9999px, 4px, 0);
  }

  50% {
    clip: rect(14px, 9999px, 10px, 0);
  }

  55% {
    clip: rect(4px, 9999px, 75px, 0);
  }

  60% {
    clip: rect(17px, 9999px, 55px, 0);
  }

  65% {
    clip: rect(75px, 9999px, 57px, 0);
  }

  70% {
    clip: rect(39px, 9999px, 84px, 0);
  }

  75% {
    clip: rect(96px, 9999px, 54px, 0);
  }

  80% {
    clip: rect(45px, 9999px, 25px, 0);
  }

  85% {
    clip: rect(60px, 9999px, 100px, 0);
  }

  90% {
    clip: rect(5px, 9999px, 6px, 0);
  }

  95% {
    clip: rect(49px, 9999px, 57px, 0);
  }

  100% {
    clip: rect(54px, 9999px, 90px, 0);
  }
}